[submodule "modules/decomposeSTN"]
	path = modules/decomposeSTN
	url = https://github.com/himynameisfuego/decomposeSTN.git
[submodule "evaluation/NISQA"]
	path = evaluation/NISQA
	url = https://github.com/gabrielmittag/NISQA.git
[submodule "tsm/tsm_net"]
	path = tsm/tsm_net
	url = https://huggingface.co/spaces/ernestchu/tsm-net
